<div class="container" ng-controller="ClubController" ng-init='getAccountDetails()'>
            <form class="form-horizontal" role="form">
                <h2>Check Your Details</h2>
                <br>
                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label">Full Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="fname" ng-readonly="true" ng-model="fname" value=$scope.fname ng-edit="flase" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="text" id="email" ng-readonly="true" placeholder="Email" ng-model="email" value=$scope.email class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="mobile" class="col-sm-3 control-label">Mobile No</label>
                    <div class="col-sm-9">
                        <input type="text" id="mobile" ng-readonly="true" ng-model="mobile" value=$scope.mobile placeholder="mobile" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label">Date of Registration</label>
                    <div class="col-sm-9">
                        <input type="text" id="rdate" ng-readonly="true" ng-model="rdate" value=rdate class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="country" class="col-sm-3 control-label">UserType</label>
                    <div class="col-sm-9">
                         <input type="text" id="user" ng-readonly="true" ng-model="user" value=$scope.userType placeholder="mobile" class="form-control">
                    </div>
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">I accept <a href="#">Terms & Conditions</a>
                            </label>
                        </div>
                    </div>
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary btn-block">Proceed To Payment</button>
                        <button type="submit" class="btn btn-primary btn-block">Update Details</button>
                    </div>
                </div>
            </form> <!-- /form -->
        </div> <!-- ./container -->